#### Exercicio 1

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

lista = [1,2,3,4,5,6,7,8,9,10]

In [2]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Exercicio 2

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista2 = ["objeto1", "objeto2", "objeto3", "objeto4", "objeto5"]

In [4]:
lista2

['objeto1', 'objeto2', 'objeto3', 'objeto4', 'objeto5']

#### Exercicio 3

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

string1 = "Teste1"

In [10]:
string2 = "Teste2"

In [11]:
string3 = "teste3 " + string2 + " " + string1

In [12]:
string3

'teste3 Teste2 Teste1'

#### Exercicio 4

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1,2,2,3,4,4,4,5)

In [14]:
tupla.count(4)

3

#### Exercicio 5

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dict = {}

In [16]:
dict

{}

#### Exercicio 6

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dict2 = {"Corsa": "Chevrolet", "Gol": "Wolkswagen", "Lancer": "Mitsubishi"}

In [26]:
dict2

{'Corsa': 'Chevrolet', 'Gol': 'Wolkswagen', 'Lancer': 'Mitsubishi'}

#### Exercicio 7

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dict2["Focus"] = "Ford"

In [28]:
dict2

{'Corsa': 'Chevrolet',
 'Gol': 'Wolkswagen',
 'Lancer': 'Mitsubishi',
 'Focus': 'Ford'}

#### Exercicio 8

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dict3 = {"Banana": 4.50, "Feijão": 8.00, "Numero": [1,2,3]}

In [32]:
dict3

{'Banana': 4.5, 'Feijão': 8.0, 'Numero': [1, 2, 3]}

#### Exercicio 9

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

Lista3 = ["Elemento 1", (1,2), {"Rogerio": 20, "Yuri": 30}, 1.52]

In [2]:
Lista3

['Elemento 1', (1, 2), {'Rogerio': 20, 'Yuri': 30}, 1.52]

#### Exercicio 10

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.

frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [5]:
frase[0:18]

'Cientista de Dados'